.logo-ufg {
  background-image: url(../img/ufg_3.png);
  width: 190px;
  height: 111px;
  margin: 0 auto;
  background-size: 190px;
  background-repeat: no-repeat;
}
.container {
  width: 30%;
}
.card {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

fieldset {
  font-size: 1.5rem;
  padding: 1em 2em 2em 1em;
  margin-top: 5;
  border: 0;
}

label{
  font-size: 1.1rem;
  color: #8a8888;

}

.entrar {
  text-decoration: none;
  color: #fff;
  background-color: #0c65a9;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  width: 100%;
  display: block;
  font-size: 1rem;
  outline: 0;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  -webkit-tap-highlight-color: transparent;

}

.login-or {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: 5px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}

.gplusico{
  width:30px;
  vertical-align: middle;
  position: inherit;
  margin-top: -2px;
}

.btn-googleplus {
  font-family:  Helvetica,Arial,sans-serif;
  font-size: 1.1rem;
  display: inline-block;
  background: rgb(185, 37, 24);
  color: #fff;
  border-width: 1px;
  border: none;
  width: 100%;
  letter-spacing: .5px;
  height: 36px;
  vertical-align: middle;
}
.btn-group-lg>.btn, .btn-lg {
  padding: 0px 16px;
}

.middle{
  padding-top: 5px;
}

#google:hover{
  background-color:#b72213!important;
}

#entrar:hover {
  background-color:#0b5892!important;
}

input:invalid .aviso:after{
  position: absolute;
  content: "!";
  color: #f00;
  font: bold normal 1em sans-serif;
  left: 190px;
}

.no-photo
  {
    width:100px; 
    min-height:100px; 
    height:auto !important; 
    background-image: url('../img/sem-foto.png');
    background-size:100% 100%;
}

.photo
  {
    width:100px; 
    min-height:100px; 
    height:auto !important; 
    background-size:100% 100%;
}

td, th {
  padding: 0px 0px 0px 0px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

.down {
  position:absolute;
  bottom:0;
  width:100%;
  color: #fff;
  background-color: #0c65a9;
}