<div class="container">
    <div title="UFG" class="logo-ufg"></div>
    <div class="row center-align">

        <h3>
            Sempre UFG
        </h3>
        <div class="login-or">
            <hr class="hr-or">
        </div>

        <div class="form-group">
            <%
                        if(typeof userId == "undefined"){%>
                <center> Você precisa realizar o Login</center>

                <%}else{ %>
                    <center>Você está logado</center>
                    <%}%>
        </div>

    </div>
</div>