<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../css/estilo.css" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <!--Import jQuery before materialize.js-->

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>

    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">SUFG</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="/">home</a>
                    </li>
                    <li>
                        <a href="#">Sobre</a>
                    </li>
                    <%
                        if(typeof userId == "undefined"){%>
                        <li class="active">
                            <a href="/login">Login</a>
                        </li>
                        <%}else{ %>
                            <li>
                                <a href="/Logged">Perfil</a>
                            </li>
                            <li class="active">
                                <a href="/api/logout">Logout</a>
                            </li>
                            <%}%>

                </ul>
            </div>
        </nav>
    </header>

    <main>


        <%- body %>


    </main>

    <footer class="page-footer down">
        Sistema de Login - (AS 2018-1)
    </footer>
</body>

</html>