<div class="container">
    <div title="UFG" class="logo-ufg"></div>
    <div class="row">
        <h3 class="h3 center-align">
            Bem Vindo
        </h3>
        <div class="login-or">
            <hr class="hr-or">
        </div>
        <div class="row">
            <table align="center">
                <tr>
                    <th>
                        <%if(photo==null){%>
                            <img id="photo" class="no-photo" />
                            <%}else{%>
                                <img id="photo" class="photo" src="<%-photo%>" />
                                <%}%>
                    </th>
                    <th class="left-align">

                        <label for="photo">

                            <%- name %>
                                <br>
                                <%- email %>

                    </th>
                </tr>
            </table>
        </div>

    </div>
</div>