<div class="container">
    <div title="UFG" class="logo-ufg"></div>
    <div class="row">
        <fieldset>
            <legend>Autenticar – SUFG </legend>
            <form action="/login" method="POST" id="login_form">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" name="username" type="email" class="validate input" required/>
                        <label for="email" data-error="Formato de email errado">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" name="password">
                        <label for="password">Senha</label>
                    </div>
                </div>
                <%if(typeof message != "undefined"){%>
                    <span class="label label-danger center-block">
                        <%-message%>
                    </span>
                    <br>
                    <%}%>
                        <a href="#" title="Entrar" id="entrar" class="entrar" onClick="document.getElementById('login_form').submit();">Entrar</a>
            </form>

            <div class="login-or">
                <span class="span-or">ou</span>
                <br>
            </div>
            <a href="/auth/google" title="Google+" id="google" class="btn-googleplus btn-lg">
                <div class="middle">
                    <div class="left">
                        <img src="../img/gplus.jpg" class="gplusico"> </div>
                    <div class="center-align">Login com o Google</div>
                </div>
            </a>
        </fieldset>
    </div>
</div>